.page-inner {
  max-width: 1848px;
  min-width: 1024px;
  margin: 0 auto;
}
.page-left {
  flex-basis: 256px;
}
.page-rigth {
  flex-basis: 256px;
}
.page-right {
  padding: 20px;
  flex: 1;
  overflow: hidden;
}
